# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/

# IDEs
.vscode/
.idea/

# Streamlit
.streamlit/

# OS specific
.DS_Store
Thumbs.db

# Project specific
*.csv
*.mp4
*.jpg
*.png
models/*.pt
models/*.engine
cache/
.gemini/
